# IDE stuff
.idea
.vscode

# Satisfactory Data file for parsing
data/Docs.json
data/icons
data/imageMapping.json

# Diff file
data/diff.txt

# Node stuff
node_modules
yarn-error.log

# Generated sources
www/assets/app.js
