<ng-container *ngIf="icon$ | async as asyncIcon">
    <ng-container *ngTemplateOutlet="showTooltip ? withTooltip:withoutTooltip; context: {icon: asyncIcon}"></ng-container>
</ng-container>
<ng-template #withTooltip let-icon="icon">
    <img [src]="icon.address" [style.width]="icon.size + 'px'" [tooltip]="icon.tooltip" />
	<ng-container *ngIf="showName">{{ icon.name }}</ng-container>
</ng-template>
<ng-template #withoutTooltip let-icon="icon">
    <img [src]="icon.address" [style.width]="icon.size + 'px'" />
	<ng-container *ngIf="showName">{{ icon.name }}</ng-container>
</ng-template>
