<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid px-xl-5 px-lg-4 px-md-3 px-sm-2 px-1">
		<a class="navbar-brand" ui-sref="home">
			<img src="/assets/images/logo/satisfactorySmall.png" height="40" class="d-sm-inline-block d-none">
			<img src="/assets/images/logo/tools.png" height="40">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="home">
						<span class="fas fa-th-large"></span>
						Recipe browser
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="https://discord.gg/pcGyj8p" target="_blank">
						<span class="fab fa-discord"></span>
						Discord server
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid px-xl-5 px-lg-4 px-md-3 px-sm-2 px-1" style="margin-top: 60px;">
	<div ui-view></div>

	<hr>

	<footer>
		<p class="text-secondary">
			Made by greeny. Old website available here: <a href="https://satisfactory.greeny.dev/">https://satisfactory.greeny.dev/</a>.
		</p>
	</footer>
</div>

