<h2>Production</h2>
<p>
	Each tab is a separate production line. You can have multiple
	tabs and they will be automatically saved in your browser. You can also share them using the share button or
	reorganize by dragging them.
</p>
<ul class="nav nav-tabs production-nav-tabs">
	<li class="nav-item" *ngFor="let tab of tabs | async; let i = index">
		<span class="nav-link cursor-pointer" [class.active]="i === (activeTabIndex | async)"
			  (click)="changeActiveTab(i)">
			<span class="fas fa-fw fa-question ng-scope"></span>
		</span>
	</li>
	<li class="nav-item d-flex new-tab">
		<a class="nav-link align-self-center" (click)="addTab()">
			<span
				ng-class="{'fas': true, 'fa-plus': !ctrl.addingInProgress, 'fa-spin': ctrl.addingInProgress, 'fa-sync-alt': ctrl.addingInProgress}"
				class="fas fa-plus"></span>
		</a>
	</li>
</ul>
<ng-container *ngIf="activeTab |async as asyncTab">
	<sf-calculator-production-tab
		[productionTab]="asyncTab"
		(onTabRemove)="removeTab()"
		(onTabClone)="cloneTab()"
		(onTabChanged)="onTabChanged()"
	></sf-calculator-production-tab>
</ng-container>
