<div class="table-responsive">
    <table class="table recipe-table table-hover">
        <thead>
            <tr>
                <th>Recipe name</th>
                <th>Ingredients</th>
                <th>Products</th>
                <th>Machine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes">
                <td [innerHTML]="recipe.name"></td>
                <td>
                    <ng-container *ngTemplateOutlet="resources; context: {resources: recipe.ingredients, recipe: recipe}"></ng-container>
                </td>
                <td>
                    <ng-container *ngTemplateOutlet="resources; context: {resources: recipe.products, recipe: recipe}"></ng-container>
                </td>
                <td>
                    <ng-container *ngFor="let building of recipe.producedIn">
                        <sf-renderer-building [item]="building" [showName]="false"></sf-renderer-building>
                    </ng-container>
                    <sf-renderer-building *ngIf="recipe.inWorkshop" [item]="workshopClassName" [showName]="false"></sf-renderer-building>
                    <sf-renderer-building *ngIf="recipe.inHand" [item]="workbenchClassName" [showName]="false"></sf-renderer-building>
                    <ng-container *ngIf="recipe.producedIn.length > 0">
                        <br />
                        <span *ngIf="resolveManufacturer(recipe) | async as asyncManufacturer">
                            {{recipe.time}}s
                            ({{ (60 / calculateBuildingRecipeProductionTime(asyncManufacturer, recipe, overclock)) | number }} cycles / min)
                        </span>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #resources let-recipe="recipe" let-resources="resources">
    <ng-container *ngFor="let resource of resources; trackBy: trackByCost">
        <div class="d-inline-block p-2">
            <sf-item-amount [amount]="resource.amount" [item]="resource.item"></sf-item-amount>
            <ng-container *ngIf="recipe.inMachine">
                <br />
                <span *ngIf="resolveManufacturer(recipe) | async as asyncManufacturer">
                    {{ calculateProductAmountsPerMinute(asyncManufacturer, recipe, resource.amount, overclock) | number }} / min
                </span>
            </ng-container>
        </div>
    </ng-container>
</ng-template>
