<ol class="breadcrumb">
	<li class="breadcrumb-item"><a ui-sref="home">Satisfactory Tools</a></li>
	<li class="breadcrumb-item active">Item Browser</li>
</ol>

<div class="row">
	<div class="col-sm-6">
		<h1>Item browser</h1>
	</div>

	<div class="col-sm-6">
		<item-filter></item-filter>
	</div>
</div>

<div class="card bg-tertiary p-3 mb-3" ng-if="ctrl.recentlyVisited.recent.length">
	<h3>Recently visited</h3>
	<div class="recipe-list">
		<div class="card text-center item-card" ng-repeat="className in ctrl.recentlyVisited.recent">
			<a class="stretched-link recipe-name" ui-sref="item({item: ctrl.getItemByClassName(className).slug})">
				<img class="recipe-image" lazy-load
				     src="/assets/images/64x64_placeholder.png"
				     img-src="/assets/images/items/{{ctrl.getItemByClassName(className).slug}}_64.png">
				{{ctrl.getItemByClassName(className).name}}
			</a>
		</div>
	</div>
</div>

<div class="recipe-list">
	<div class="card text-center item-card" ng-repeat="item in ctrl.getFilteredItems() | orderBy:'name'">
		<a class="recipe-name stretched-link" ui-sref="item({item: item.slug})">
			<img class="recipe-image" ng-src="/assets/images/items/{{item.slug}}_64.png">
			{{item.name}}
		</a>
	</div>
</div>
