<div class="row">
	<div class="col-md-6">
		<div class="card mb-3">
			<h2 class="card-header">{{ctrl.item.name}}</h2>
			<div class="card-body">
				<span class="float-left mr-3">
					<item-icon item="ctrl.item" size="128"></item-icon>
				</span>
				<p style="white-space: pre-line;">{{ctrl.item.description}}</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card mb-3">
			<h2 class="card-header">{{ctrl.item.name}} details</h2>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<td>Sink points</td>
							<td>{{ctrl.item.sinkPoints ? ctrl.item.sinkPoints : 'Can\'t be put into the sink.'}}</td>
						</tr>
						<tr>
							<td>Form</td>
							<td>{{ctrl.item.liquid ? 'Liquid' : 'Solid'}}</td>
						</tr>
						<tr ng-if="!ctrl.item.liquid">
							<td>Stack size</td>
							<td>{{ctrl.item.stackSize}}</td>
						</tr>
						<tr ng-if="ctrl.item.energyValue && ctrl.item.liquid">
							<td>Energy value</td>
							<td>{{ctrl.item.energyValue * 1000}} MJ/m<sup>3</sup></td>
						</tr>
						<tr ng-if="ctrl.item.energyValue && !ctrl.item.liquid">
							<td>Energy value</td>
							<td>{{ctrl.item.energyValue}} MJ</td>
						</tr>
						<tr>
							<td>Radioactive</td>
							<td>{{ctrl.item.radioactiveDecay > 0 ? 'Yes' : 'No'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card mb-3">
			<h2 class="card-header">Recipes</h2>
			<div class="card-body">
				<recipes-table recipes="ctrl.recipes"></recipes-table>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card mb-3">
			<h2 class="card-header">Usages as ingredient</h2>
			<div class="card-body">
				<recipes-table recipes="ctrl.usagesAsIngredient"></recipes-table>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card mb-3">
			<h2 class="card-header">Usages for building</h2>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table recipe-table table-hover two-columns">
						<thead>
							<tr>
								<th>Building name</th>
								<th>Ingredients</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recipe in ctrl.usagesForBuilding">
								<td>
									<div ng-repeat="product in recipe.products" class="d-inline-block p-2">
										<a ui-sref="building({item: ctrl.getBuilding(product.item).slug})">
											<item-icon item="ctrl.getBuilding(product.item)" size="32"></item-icon>
											{{ ctrl.getBuilding(product.item).name }}
										</a>
									</div>
								</td>
								<td>
									<div ng-repeat="ingredient in recipe.ingredients" class="d-inline-block p-2">
										<span class="item-amount">
											{{ingredient.amount}}x
											<a ui-sref="item({item: ctrl.getItem(ingredient.item).slug})">
												<item-icon item="ingredient.item"></item-icon>
											</a>
										</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card mb-3">
			<h2 class="card-header">Usages for schematics</h2>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table recipe-table table-hover two-columns">
						<thead>
							<tr>
								<th>Schematic</th>
								<th>Ingredients</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schematic in ctrl.usagesForSchematics">
								<td>
									<a class="btn btn-link" ui-sref="schematic({item: schematic.slug})">
										{{schematic.name}}
									</a>
								</td>
								<td>
									<div ng-repeat="ingredient in schematic.cost" class="d-inline-block p-2">
										<span class="item-amount">
											{{ingredient.amount}}x
											<a ui-sref="item({item: ctrl.getItem(ingredient.item).slug})">
												<item-icon item="ingredient.item"></item-icon>
											</a>
										</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
