<h2>Production</h2>

<p>
	Each tab is a separate production line. You can have multiple tabs and they will be automatically saved in your browser. You can also share them using the share button or reorganize by dragging them.
</p>

<ul class="nav nav-tabs production-nav-tabs" ui-sortable="{axis: 'x',  'ui-floating': true}" ng-model="ctrl.tabs">
	<li class="nav-item" ng-repeat="tab in ctrl.tabs">
		<span class="nav-link cursor-pointer"  ng-class="{active: tab === ctrl.tab}" ng-click="ctrl.tab = tab" tooltip title="{{tab.tool.name}}">
			<item-icon hide-tooltip="true" dynamic="true" item="tab.tool.icon" size="32" ng-if="tab.tool.icon"></item-icon>
			<span class="fas fa-fw fa-question" ng-if="!tab.tool.icon"></span>
		</span>
	</li>
	<li class="nav-item d-flex new-tab">
		<a class="nav-link align-self-center"  ng-click="ctrl.addEmptyTab();" title="Add new production line" tooltip>
			<span ng-class="{'fas': true, 'fa-plus': !ctrl.addingInProgress, 'fa-spin': ctrl.addingInProgress, 'fa-sync-alt': ctrl.addingInProgress}"></span>
		</a>
	</li>
</ul>

<div ng-show="ctrl.tab">
	<div class="card production-input">
		<div class="card-header d-flex">
			<div class="production-image d-flex">
				<span class="image-picker dropdown-toggle" data-toggle="dropdown" tooltip title="Change tab icon">
					<item-icon dynamic="true" ng-if="ctrl.tab.tool.icon" item="ctrl.tab.tool.icon" size="32" hide-tooltip="true"></item-icon>
					<span ng-if="!ctrl.tab.tool.icon" class="fas fa-fw fa-question"></span>
				</span>
				<div class="dropdown-menu">
					<div class="dropdown-menu-content" perfect-scrollbar>
						<item-icon hide-tooltip="true" class="dropdown-item cursor-pointer" item="icon" ng-class="{'active': icon === ctrl.tab.tool.icon}" size="32" ng-repeat="icon in ctrl.tab.getIconSet()" ng-click="ctrl.tab.tool.productionRequest.icon = icon"></item-icon>
					</div>
				</div>
			</div>
			<span class="production-line-name flex-grow-1">
				<span class="production-line-name-title mr-2" ng-hide="ctrl.tab.state.renaming">
					<span>{{ctrl.tab.tool.name}}</span>
				</span>
				<form class="mr-2 flex-grow-1" ng-submit="ctrl.tab.state.renaming = false" ng-show="ctrl.tab.state.renaming">
					<input class="form-control" ng-model="ctrl.tab.tool.productionRequest.name">
					<button type="submit" class="btn btn-outline-success" ng-show="ctrl.tab.state.renaming">
						<span class="fas fa-check"></span>
					</button>
				</form>
				<span class="btn btn-outline-light" ng-hide="ctrl.tab.state.renaming" tooltip title="Rename tab" ng-click="ctrl.tab.state.renaming = true">
					<span class="fas fa-pencil-alt"></span>
				</span>
			</span>

			<span class="btn-group">
				<a class="btn btn-info" ng-click="ctrl.tab.copyShareLink()" tooltip title="Share tab">
					<span class="fas fa-share-alt"></span>
				</a>
				<a class="btn btn-success" ng-click="ctrl.cloneTab(ctrl.tab)" tooltip title="Clone tab">
					<span ng-class="{'far': !ctrl.cloningInProgress, 'fas': ctrl.cloningInProgress, 'fa-fw': true, 'fa-clone': !ctrl.cloningInProgress, 'fa-spin': ctrl.cloningInProgress, 'fa-sync-alt': ctrl.cloningInProgress}"></span>
				</a>
				<a class="btn btn-warning" ng-click="ctrl.tab.tool.resetProductionRequest()" tooltip title="Reset tab to default">
					<span class="fas fa-fw fa-eraser"></span>
				</a>
				<a class="btn btn-danger" ng-click="ctrl.removeTab(ctrl.tab)" tooltip title="Remove tab">
					<span class="fas fa-fw fa-trash-alt"></span>
				</a>
				<a class="btn btn-secondary" ng-click="ctrl.tab.state.expanded = !ctrl.tab.state.expanded" tooltip title="{{ctrl.tab.state.expanded ? 'Collapse' : 'Expand'}}">
					<span ng-if="ctrl.tab.state.expanded" class="fas fa-fw fa-chevron-up"></span>
					<span ng-if="!ctrl.tab.state.expanded" class="fas fa-fw fa-chevron-down"></span>
				</a>
			</span>
		</div>
		<div class="card-body" ng-show="ctrl.tab.state.expanded">
			<div class="row">
				<div class="col-md-2 border-right border-light">
					<ul class="nav nav-tabs flex-column">
						<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'production'}" ng-click="ctrl.tab.tab = 'production'">
								<span class="fas fa-fw fa-chart-line mr-1"></span>
								Production
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'items'}" ng-click="ctrl.tab.tab = 'items'">
								<span class="fas fa-fw fa-box-open mr-1"></span>
								Items, Input
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'recipes'}" ng-click="ctrl.tab.tab = 'recipes'">
								<span class="fas fa-fw fa-scroll mr-1"></span>
								Recipes
							</a>
						</li>
						<!--<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'sink'}" ng-click="ctrl.tab.tab = 'sink'">
								<span class="fas fa-fw fa-ticket-alt mr-1"></span>
								Resource sink
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'power'}" ng-click="ctrl.tab.tab = 'power'">
								<span class="fas fa-fw fa-bolt mr-1"></span>
								Power
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript: void(0);" class="nav-link" ng-class="{active: ctrl.tab.tab === 'nodes'}" ng-click="ctrl.tab.tab = 'nodes'">
								<span class="fas fa-fw fa-wrench mr-1"></span>
								Nodes, miners, belts
							</a>
						</li>-->
					</ul>
				</div>

				<div class="col-md-10" ng-if="ctrl.tab.tab === 'production'">
					<p>
						Select items that you want to produce. You can choose between item per minute (will produce given amount from as low amount of raw resources as possible) or maximize (will produce as much as possible, given the raw resource limits).
					</p>

					<table class="production-input-table">
						<tbody ui-sortable="{axis: 'y',  'ui-floating': true, handle: '> .sortable-handler'}" ng-model="ctrl.tab.tool.productionRequest.production">
							<tr ng-repeat="product in ctrl.tab.tool.productionRequest.production track by $index">
								<td class="sortable-handler">
									<span class="fas fa-arrows-alt-v cursor-drag"></span>
								</td>
								<td>
									<ui-select ng-model="product.item" class="production-item-picker">
										<ui-select-match placeholder="Search or select item">
											<span>
												<item-icon dynamic="true" item="$select.selected.className" class="mr-2" size="24" hide-tooltip="true"></item-icon>
												{{$select.selected.name}}
											</span>
										</ui-select-match>
										<ui-select-choices repeat="item.className as item in (ctrl.craftableItems|filter:{name:$select.search}) track by item.className">
											<item-icon item="item" hide-tooltip="true"></item-icon>
											<span class="pl-2" ng-bind="item.name"></span>
										</ui-select-choices>
									</ui-select>
								</td>
								<td>
									<select ng-show="product.item" class="form-control" ng-model="product.type" ng-options="value as key for (key, value) in ctrl.options"></select>
								</td>
								<td>
									<input class="form-control" ng-show="product.item && product.type === 'perMinute'" type="number" ng-model="product.amount" step="any">
									<input class="w-100" ng-show="product.item && product.type === 'max'" type="range" ng-model="product.ratio" min="0" max="100" step="2">
								</td>
								<td>
									<span class="btn btn-success" ng-click="ctrl.tab.cloneProduct(product)" tooltip title="Clone item">
										<span class="far fa-fw fa-clone"></span>
									</span>
									<span class="btn btn-danger" ng-click="ctrl.tab.removeProduct(product)" tooltip title="Remove item">
										<span class="fas fa-fw fa-times"></span>
									</span>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<span class="btn btn-outline-success btn-block" ng-click="ctrl.tab.addEmptyProduct()">
										<span class="fas fa-plus"></span>
										Add product
									</span>
								</td>
								<td></td>
								<td></td>
								<td>
									<span class="btn btn-outline-danger" ng-click="ctrl.tab.clearProducts()" tooltip title="Clear production line">
										<span class="fas fa-fw fa-trash-alt"></span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-md-10" ng-show="ctrl.tab.tab === 'items'">
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<h3 class="card-header card-header-with-buttons">
									<span class="card-header-text">
										Raw resources
									</span>

									<span class="btn-group">
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setDefaultRawResources()">
											Set from map limits
										</span>
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.zeroRawResources()">
											Set to 0
										</span>
									</span>
								</h3>
								<div class="card-body">
									<p>
										Select which raw resources you want to use and their limits. By default it's populated with map limits, but you can easily change that.
									</p>

									<table class="item-list">
										<thead>
											<tr>
												<th>
													Resource
												</th>
												<th>
													Limit
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="resource in ctrl.rawResources">
												<td ng-click="ctrl.tab.toggleResource(resource.item)">
													<span class="fas fa-check-square" ng-show="ctrl.tab.isResourceEnabled(resource.item)"></span>
													<span class="fas fa-square" ng-show="!ctrl.tab.isResourceEnabled(resource.item)"></span>
													<span class="ml-2">
														<item-icon item="resource.item" size="32"></item-icon>
														{{ctrl.getItem(resource.item).name}}
													</span>
												</td>
												<td>
													<input type="number" ng-disabled="!ctrl.tab.isResourceEnabled(resource.item)" class="form-control" ng-model="ctrl.tab.tool.productionRequest.resourceMax[resource.item]" step="any">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card">
								<h3 class="card-header card-header-with-buttons">
									<span class="card-header-text">
										Input
									</span>
								</h3>
								<div class="card-body">
									<p>
										Select items that you already have at your disposal and therefore don't need to be produced by this factory.
									</p>
									<table class="input-table">
										<tbody ui-sortable="{axis: 'y',  'ui-floating': true, handle: '> .sortable-handler'}" ng-model="ctrl.tab.tool.productionRequest.input">
											<tr ng-repeat="product in ctrl.tab.tool.productionRequest.input track by $index">
												<td class="sortable-handler">
													<span class="fas fa-arrows-alt-v cursor-drag"></span>
												</td>
												<td>
													<ui-select ng-model="product.item" class="production-item-picker">
														<ui-select-match placeholder="Search or select item">
															<span>
																<item-icon dynamic="true" item="$select.selected.className" class="mr-2" size="24" hide-tooltip="true"></item-icon>
																{{$select.selected.name}}
															</span>
														</ui-select-match>
														<ui-select-choices repeat="item.className as item in (ctrl.inputableItems|filter:{name:$select.search}) track by item.className">
															<item-icon item="item" hide-tooltip="true"></item-icon>
															<span class="pl-2" ng-bind="item.name"></span>
														</ui-select-choices>
													</ui-select>
												</td>
												<td>
													<input class="form-control" ng-show="product.item" type="number" ng-model="product.amount" step="any">
												</td>
												<td>
													<span class="btn btn-success" ng-click="ctrl.tab.cloneInput(product)" tooltip title="Clone input">
														<span class="far fa-fw fa-clone"></span>
													</span>
													<span class="btn btn-danger" ng-click="ctrl.tab.removeInput(product)" tooltip title="Remove input">
														<span class="fas fa-fw fa-times"></span>
													</span>
												</td>
											</tr>
											<tr>
												<td></td>
												<td>
													<span class="btn btn-outline-success btn-block" ng-click="ctrl.tab.addEmptyInput()">
														<span class="fas fa-plus"></span>
														Add input
													</span>
												</td>
												<td></td>
												<td>
													<span class="btn btn-outline-danger" ng-click="ctrl.tab.clearInputs()" tooltip title="Clear inputs">
														<span class="fas fa-fw fa-trash-alt"></span>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-10" ng-show="ctrl.tab.tab === 'recipes'">
					<p>
						Select which recipes you want to allow to be used. The tool will automatically pick best possible combination of recipes from the selected ones.
					</p>
					<div class="row">
						<div class="col-md-6">
							<div class="recipe-list-card card">
								<div class="card-header d-flex">
									<span class="recipe-list-card-title text-nowrap">
										Alternate recipes
									</span>

									<input type="text" ng-model="ctrl.tab.state.alternateRecipesQuery" class="form-control" placeholder="Search for a recipe">

									<span class="btn-group">
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllAlternateRecipes(true)">
											All
										</span>
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllAlternateRecipes(false)">
											None
										</span>
										<span class="btn btn-secondary" ng-click="ctrl.tab.state.alternateRecipesExpanded = !ctrl.tab.state.alternateRecipesExpanded">
											<span ng-if="ctrl.tab.state.alternateRecipesExpanded" class="fas fa-fw fa-chevron-up"></span>
											<span ng-if="!ctrl.tab.state.alternateRecipesExpanded" class="fas fa-fw fa-chevron-down"></span>
										</span>
									</span>
								</div>

								<div class="card-body" ng-show="ctrl.tab.state.alternateRecipesExpanded">
									<table class="alternate-recipe-list">
										<tr ng-repeat="recipe in ctrl.alternateRecipes | filter: {name: ctrl.tab.state.alternateRecipesQuery} | orderBy:'name'" ng-click="ctrl.tab.toggleAlternateRecipe(recipe.className)">
											<td>
												<span class="fas fa-check-square" ng-show="ctrl.tab.isAlternateRecipeEnabled(recipe.className)"></span>
												<span class="fas fa-square" ng-show="!ctrl.tab.isAlternateRecipeEnabled(recipe.className)"></span>
											</td>
											<td class="d-flex justify-content-between">
												<span>{{ctrl.tab.convertAlternateRecipeName(recipe.name)}}</span>
												<span>
													<span ng-repeat="ingredient in recipe.ingredients" class="recipe-item">
														{{ingredient.amount}}&times;
														<item-icon item="ingredient.item" size="20" tooltip="1"></item-icon>
													</span>
												</span>
											</td>
											<td>
												<span class="fas fa-fw fa-chevron-right"></span>
												<span ng-repeat="product in recipe.products" class="recipe-item">
													{{product.amount}}&times;
													<item-icon item="product.item" size="20" tooltip="1"></item-icon>
												</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="recipe-list-card card">
								<h3 class="card-header d-flex">
									<span class="recipe-list-card-title text-nowrap">
										Base recipes
									</span>

									<input type="text" ng-model="ctrl.tab.state.basicRecipesQuery" class="form-control" placeholder="Search for a recipe">

									<span class="btn-group">
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllBasicRecipes(true)">
											All
										</span>
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllBasicRecipes(false)">
											None
										</span>
										<span class="btn btn-secondary" ng-click="ctrl.tab.state.basicRecipesExpanded = !ctrl.tab.state.basicRecipesExpanded">
											<span ng-if="ctrl.tab.state.basicRecipesExpanded" class="fas fa-fw fa-chevron-up"></span>
											<span ng-if="!ctrl.tab.state.basicRecipesExpanded" class="fas fa-fw fa-chevron-down"></span>
										</span>
									</span>
								</h3>
								<div class="card-body" ng-show="ctrl.tab.state.basicRecipesExpanded">
									<table class="alternate-recipe-list">
										<tr ng-repeat="recipe in ctrl.basicRecipes | filter: {name: ctrl.tab.state.basicRecipesQuery} | orderBy:'name'" ng-click="ctrl.tab.toggleBasicRecipe(recipe.className)">
											<td>
												<span class="fas fa-check-square" ng-show="ctrl.tab.isBasicRecipeEnabled(recipe.className)"></span>
												<span class="fas fa-square" ng-show="!ctrl.tab.isBasicRecipeEnabled(recipe.className)"></span>
											</td>
											<td class="d-flex justify-content-between">
												<span>{{recipe.name}}</span>
												<span>
													<span ng-repeat="ingredient in recipe.ingredients" class="recipe-item">
														{{ingredient.amount}}&times;
														<item-icon item="ingredient.item" size="20"></item-icon>
													</span>
												</span>
											</td>
											<td>
												<span class="fas fa-fw fa-chevron-right"></span>
												<span ng-repeat="product in recipe.products" class="recipe-item">
													{{product.amount}}&times;
													<item-icon item="product.item" size="20"></item-icon>
												</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="col-md-10" ng-show="ctrl.tab.tab === 'sink'">
					<div class="row">
						<div class="col-md-6">
							<div class="recipe-list-card card">
								<div class="card-header d-flex">
									<span class="recipe-list-card-title text-nowrap">
										Sinkable resources
									</span>

									<input type="text" ng-model="ctrl.tab.state.sinkableResourcesQuery" class="form-control" placeholder="Search for a resource">

									<span class="btn-group">
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllSinkableResources(true)">
											All
										</span>
										<span class="btn btn-secondary px-3" ng-click="ctrl.tab.setAllSinkableResources(false)">
											None
										</span>
										<span class="btn btn-secondary" ng-click="ctrl.tab.state.sinkableResourcesExpanded = !ctrl.tab.state.sinkableResourcesExpanded">
											<span ng-if="ctrl.tab.state.sinkableResourcesExpanded" class="fas fa-fw fa-chevron-up"></span>
											<span ng-if="!ctrl.tab.state.sinkableResourcesExpanded" class="fas fa-fw fa-chevron-down"></span>
										</span>
									</span>
								</div>

								<div class="card-body" ng-show="ctrl.tab.state.sinkableResourcesExpanded">
									<table class="alternate-recipe-list">
										<tr class="table-row-header">
											<td></td>
											<td class="d-flex justify-content-between">
												<span class="cursor-pointer" ng-click="ctrl.tab.setSinkableResourcesSort('name')">
													<b>Name</b>
													<span ng-if="ctrl.tab.state.sinkableResourcesSortBy === 'name'" ng-class="{fas: true, 'fa-caret-down': ctrl.tab.state.sinkableResourcesSortReverse === false, 'fa-caret-up': ctrl.tab.state.sinkableResourcesSortReverse === true}"></span>
												</span>
												<span class="cursor-pointer" ng-click="ctrl.tab.setSinkableResourcesSort('points')">
													<span ng-if="ctrl.tab.state.sinkableResourcesSortBy === 'points'" ng-class="{fas: true, 'fa-caret-down': ctrl.tab.state.sinkableResourcesSortReverse === true, 'fa-caret-up': ctrl.tab.state.sinkableResourcesSortReverse === false}"></span>
													<b>Points</b>
												</span>
											</td>
										</tr>
										<tr ng-repeat="item in ctrl.sinkableItems | filter: {name: ctrl.tab.state.sinkableResourcesQuery} | orderBy: ctrl.tab.sinkableResourcesOrderCallback: ctrl.tab.state.sinkableResourcesSortReverse" ng-click="ctrl.tab.toggleSinkableResource(item.className)">
											<td>
												<span class="fas fa-check-square" ng-show="ctrl.tab.isSinkableResourceEnabled(item.className)"></span>
												<span class="fas fa-square" ng-show="!ctrl.tab.isSinkableResourceEnabled(item.className)"></span>
											</td>
											<td class="d-flex justify-content-between">
												<span>
													<item-icon item="item" size="20" tooltip="1"></item-icon>
													<span class="ml-1">{{item.name}}</span>
												</span>
												<span>{{item.sinkPoints}} points</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="col-md-6">

						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div ng-show="ctrl.tab.tool.resultStatus === 'noResult'" class="visualization-result">
		Unfortunately we couldn't calculate any result.<br>
		<span>This can be due to many things: missing resource required for the production line, not enough resources for the requested amount, disabled recipes required for the product, etc.</span>
	</div>
	<div ng-show="ctrl.tab.tool.resultStatus === 'calculating'" class="visualization-result">
		<span class="fas fa-spin fa-sync-alt"></span>
		Calculating ...
	</div>
	<div ng-show="ctrl.tab.tool.resultStatus === 'noInput'" class="visualization-result">
		Select an item to calculate.
	</div>
	<div ng-show="ctrl.tab.tool.resultStatus === 'result'">
		<ul class="nav nav-pills nav-justified result-nav">
			<li class="nav-item">
				<a class="nav-link" ng-class="{active: ctrl.tab.resultTab === 'visualization'}" ng-click="ctrl.tab.resultTab = 'visualization'">
					<span class="fas fa-project-diagram"></span> Visualization
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" ng-class="{active: ctrl.tab.resultTab === 'power'}" ng-click="ctrl.tab.resultTab = 'power'">
					<span class="fas fa-bolt"></span> Power
				</a>
			</li>
		</ul>
		<div ng-show="ctrl.tab.resultTab === 'visualization'">
			<div class="border-left border-right border-secondary p-2">
				You can move the nodes around by using drag'n'drop. Doubleclick a node to hide/show it (useful if you want e.g. to mark it as finished).
			</div>
			<visualization result="ctrl.tab.tool.result" class="visualization" ng-class="{visualization: 1, loading: ctrl.tab.state.resultLoading}"></visualization>
		</div>

		<div ng-show="ctrl.tab.resultTab === 'power'" class="visualization-result">
			<table class="table">
				<thead>
					<tr>
						<th>Machine</th>
						<th>Average usage</th>
						<th>Max usage</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(machine, powerDetail) in ctrl.tab.tool.result.powerDetails">
						<td>
							<item-icon item="machine" size="24" tooltip="1"></item-icon>
							{{powerDetail.amount|number}}x {{powerDetail.name}}
						</td>
						<td>
							{{powerDetail.average|number}} MW
						</td>
						<td>
							{{powerDetail.max|number}} MW
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>
							<b>Total</b>
						</td>
						<td>
							<b>{{ctrl.tab.tool.result.powerUsage.average|number}} MW</b>
						</td>
						<td>
							<b>{{ctrl.tab.tool.result.powerUsage.max|number}} MW</b>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
