<ol class="breadcrumb">
	<li class="breadcrumb-item"><a ui-sref="home">Satisfactory Tools</a></li>
	<li class="breadcrumb-item active">Production</li>
</ol>

<h1>Production</h1>

<ul class="nav nav-tabs">
	<li class="nav-item" ng-repeat="tab in ctrl.tabs">
		<a class="nav-link" href="javascript: void(0);" ng-class="{active: tab === ctrl.tab}" ng-click="ctrl.tab = tab">
			<span ng-if="!tab.item">
				<span class="fas fa-question"></span>
			</span>
			<img ng-if="tab.item" ng-src="/assets/images/items/{{tab.item.slug}}_64.png" width="32" height="32" title="{{tab.item.name}}" tooltip>
		</a>
	</li>
	<li class="nav-item bg-success text-light">
		<a class="nav-link" href="javascript: void(0);" ng-click="ctrl.addNewTab();" title="Add new production line" tooltip>
			<span class="fas fa-plus"></span>
		</a>
	</li>
</ul>

<div ng-repeat="tab in ctrl.tabs">
	<div ng-show="ctrl.tab === tab">
		<div class="card production-input">
			<div class="card-header d-flex">
				<span class="production-image">
					<item-icon ng-if="tab.productionRequest.icon" item="tab.productionRequest.icon" size="48"></item-icon>
				</span>

				<span class="production-line-name flex-grow-1">
					<span class="production-line-name-title mr-2" ng-hide="ctrl.renaming">{{tab.productionRequest.name}}</span>
					<input class="form-control mr-2" ng-model="tab.productionRequest.name" ng-show="ctrl.renaming">
					<span class="btn btn-outline-light" ng-hide="ctrl.renaming" tooltip title="Click to rename production line" ng-click="ctrl.renaming = true">
						<span class="fas fa-pencil-alt"></span>
					</span>
					<span class="btn btn-outline-success" ng-show="ctrl.renaming" ng-click="ctrl.renaming = false">
						<span class="fas fa-check"></span>
					</span>
				</span>

				<span class="btn-group">
					<a class="btn btn-success">
						<span class="far fa-fw fa-clone"></span>
					</a>
					<a class="btn btn-warning">
						<span class="fas fa-fw fa-eraser"></span>
					</a>
					<a class="btn btn-danger">
						<span class="fas fa-fw fa-trash-alt"></span>
					</a>
					<a class="btn btn-secondary" ng-click="tab.expanded = !tab.expanded" tooltip title="{{tab.expanded ? 'Collapse' : 'Expand'}}">
						<span ng-if="tab.expanded" class="fas fa-fw fa-chevron-up"></span>
						<span ng-if="!tab.expanded" class="fas fa-fw fa-chevron-down"></span>
					</a>
				</span>
			</div>
			<div class="card-body" ng-show="tab.expanded">
				<div class="row">
					<div class="col-md-2 border-right border-light">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item">
								<a class="nav-link active">Production</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Items</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Recipes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Power</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Nodes, miners, belts</a>
							</li>
						</ul>
					</div>

					<div class="col-md-10">
						<table>
							<tr ng-repeat="product in tab.tool.productionRequest.production">
								<td>
									<ui-select ng-model="product.item" class="production-item-picker">
										<ui-select-match placeholder="Search or select item">
											<span>
												<item-icon item="$select.selected.className" class="mr-2" size="24"></item-icon>
												{{$select.selected.name}}
											</span>
										</ui-select-match>
										<ui-select-choices repeat="item.className as item in (ctrl.craftableItems|filter:$select.search) track by item.className">
											<item-icon item="item"></item-icon>
											<span class="pl-2" ng-bind="item.name"></span>
										</ui-select-choices>
									</ui-select>
								</td>
								<td>
									<select class="form-control" ng-model="product.type" ng-options="value as key disable when value === 'max' for (key, value) in ctrl.options"></select>
								</td>
								<td>
									<input class="form-control" ng-show="product.type === 'perMinute'" type="number" ng-model="product.amount">
									<input class="form-control" ng-show="product.type === 'max'" type="range" ng-model="product.ratio" min="0" max="100" step="2">
								</td>
								<td>
									<span class="btn btn-danger" ng-click="tab.removeProduct(product)">
										<span class="fas fa-times"></span>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="btn btn-outline-success btn-block" ng-click="tab.addEmptyProduct()">
										<span class="fas fa-plus"></span>
										Add product
									</span>
								</td>
							</tr>
						</table>

						<div ng-repeat="product in tab.tool.productionRequest.production">
						</div>
					</div>
				</div>
			</div>
		</div>

		<visualization result="tab.tool.result" class="visualization"></visualization>
	</div>
</div>
