<div class="input-group filter">
	<input type="text" class="form-control" placeholder="Search for an item" ng-model="ctrl.filtersService.filter.query" ng-focus="true" id="queryInput">
	<div class="input-group-append">
		<a class="clear-filter" ng-class="{'has-content': ctrl.filtersService.filter.query.length > 0}" ng-click="ctrl.filtersService.filter.query = ''">
			<i class="fa fa-times"></i>
		</a>
		<a class="btn btn-secondary" ng-click="ctrl.filtersService.filter.showAdvanced = !ctrl.filtersService.filter.showAdvanced">
			{{ctrl.filtersService.filter.showAdvanced ? 'Hide' : 'Show'}} advanced filters
			<i ng-class="{'fas fa-chevron-down': !ctrl.filtersService.filter.showAdvanced, 'fas fa-chevron-up': ctrl.filtersService.filter.showAdvanced}"></i>
		</a>
	</div>
</div>
<div class="d-flex flex-row">
	<div uib-collapse="!ctrl.filtersService.filter.showAdvanced">
		<div class="d-flex flex-row justify-content-start align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-start" style="margin-right: 10px;">
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" ng-model="ctrl.filtersService.filter.onlyRadioactive">
						<span>Show only radioactive</span>
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" ng-model="ctrl.filtersService.filter.onlyWithEnergyValue">
						<span>With energy value only</span>
					</label>
				</div>
			</div>
			<div class="form-group" style="margin-right: 10px;">
				<label>Stack size
					<select ng-model="ctrl.filtersService.filter.stackSize" class="form-control">
						<option ng-repeat="option in ctrl.stackSizes" value="{{option.value}}">{{option.key}}</option>
					</select>
				</label>
			</div>
			<div class="form-group" style="margin-right: 10px;">
				<label>Physical state
					<select ng-model="ctrl.filtersService.filter.physicalState" class="form-control">
						<option ng-repeat="option in ctrl.physicalStates" value="{{option.value}}">{{option.key}}
						</option>
					</select>
				</label>
			</div>
		</div>
	</div>
	<div class="mr-auto"></div>
	<div class="filter-actions align-self-start">
		<ng-transclude></ng-transclude>
	</div>
</div>
