<ng-container *ngIf="entry$ | async as asyncEntry">
	<ng-container *ngTemplateOutlet="hideTooltip ? hideTooltip : showTooltip; context: { $implicit: asyncEntry }">
	</ng-container>
</ng-container>
<ng-template #hideTooltip let-entry>
	<img [src]="'/assets/images/items/' + entry.slug + '_' + imageSize + '.png'" [style]="{width: size + 'px'}" [alt]="entry.name"/>
</ng-template>
<ng-template #showTooltip let-entry>
	<img [src]="'/assets/images/items/' + entry.slug + '_' + imageSize + '.png'" [tooltip]="entry.name" [style]="{width: size + 'px'}" [alt]="entry.name"/>
</ng-template>
