<ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs | async" class="breadcrumb-item">
        <ng-container *ngTemplateOutlet="null !== breadcrumb.path && !isActive(breadcrumb.path, true) ? linked : simple, context: {breadcrumb: breadcrumb}"></ng-container>
    </li>
</ol>
<ng-template #linked let-breadcrumb="breadcrumb">
    <a [routerLink]="breadcrumb.path">{{ breadcrumb.text }}</a>
</ng-template>
<ng-template #simple let-breadcrumb="breadcrumb">
    <span>{{ breadcrumb.text }}</span>
</ng-template>
