@import 'theme/theme_variables';

$defaultPadding: 8px;
$maxEntryWidth: 48px;
$maxEntryHeight: 48px;
$entriesLimit: 6;
$header-height: 48px;
$border: 1px solid rgba(0, 0, 0, 0.125);

@mixin defaultSquare($activeColor) {
	border: 0;
	padding: 8px;
	width: $maxEntryWidth;
	height: $maxEntryHeight;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: $activeColor;
}

.production-nav-tabs {
	border-bottom: 0;

	.nav-item {
		// for proper border color match with card content
		background-color: $gray-200;

		&:hover {
			background-color: $gray-700;
		}

		.nav-link {
			@include defaultSquare(inherit);

			&.active {
				background-color: $primary !important;
			}
		}

		// for proper border color match with card content
		&.new-tab {
			.nav-link {
				background-color: $success;
			}
		}
	}
}

.production-input {
	border: 0;

	.nav.nav-tabs {
		.nav-item:hover {
			background-color: $gray-700;
		}
	}

	.production-input-table {
		width: 100%;

		tr {
			td:nth-child(1) {
				width: 25px;
			}

			td:nth-child(2) {
				width: 40%;
			}

			td:nth-child(3) {
				width: 20%;
			}

			td:nth-child(4) {
				width: 25%;
			}
		}
	}

	& > .card-header {
		padding: 0;
		min-height: $header-height;
		vertical-align: middle;
		background: $primary;
		border-bottom: 0;

		.production-line-name {
			display: flex;
			align-items: center;
			font-size: 24px;

			input {
				display: inline-block;
				max-width: 50%;
			}
		}

		.production-line-name-title span {
			margin-left: 15px;
			font-size: 24px;
		}

		.production-image {
			.image-picker {
				@include defaultSquare($primary);

				&:hover {
					background-color: darken($primary, 10%);
					cursor: pointer;
				}

				span {
					&.fas {
						margin-left: 4px
					}
				}

				item-icon {
					margin-left: 4px
				}
			}

			.dropdown-toggle:after {
				border: 0;
			}

			align-items: center;

			.dropdown-menu {
				.dropdown-menu-content {
					display: flex;
					position: relative;
					flex-direction: row;
					flex-wrap: wrap;
					max-width: ($maxEntryWidth * $entriesLimit) + 2 * $defaultPadding;
					padding: $defaultPadding;
					max-height: 30vh;

					.dropdown-item {
						flex: 100/$entriesLimit ($maxEntryWidth - $defaultPadding);
						max-width: $maxEntryWidth;
						padding: $defaultPadding;

						&.active, &:hover {
							background-color: $primary;
						}
					}
				}
			}
		}

		.btn-group {
			display: flex;

			.btn {
				display: flex;
				width: $header-height;
				align-items: center;
				justify-content: center;

				span:before {
					font-size: 18px;
				}
			}
		}
	}
}

.recipe-list-card {
	vertical-align: middle;

	background-color: transparent;
	border: 1px solid $gray-700;

	.card-header, .card-body {
		background-color: transparent;
	}

	.card-header {
		padding: 0;
		height: $header-height;
	}

	.recipe-list-card-title {
		margin-left: 20px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		font-size: 20px;
	}

	.alternate-recipe-list {
		width: 100%;

		tr:hover {
			cursor: pointer;
			background-color: $gray-700;
		}

		td {
			padding: 2px;
			.recipe-item {
				margin-left: 7px;

				img {
					margin-left: 3px;
				}
			}
		}

		td:nth-child(1) {
			padding-left: 6px;
			width: 28px;
		}

		td:nth-child(3) {
			text-align: right;
		}
	}

	input {
		margin-top: 4px;
		margin-right: 10px;
		background-color: $gray-400;

		&:focus {
			background-color: $gray-300;
		}
	}

	.btn-group {
		display: flex !important;

		.btn {
			display: flex !important;
			min-width: $header-height;
			align-items: center;
			justify-content: center;

			span:before {
				font-size: 16px;
			}
		}
	}
}

.production-item-picker {
	.ui-select-toggle, .form-control {
		background-color: $gray-300;
	}

	.ui-select-choices {
		display: block;

		.ui-select-choices-row-inner {
			color: $gray-100;

			&:hover {
				background-color: $primary !important;
				color: $gray-100;
			}
		}
	}

	i.caret {
		top: 25% !important;
	}

	i.caret:before {
		color: $gray-200;
		font-style: normal;
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		content: "\f078";
	}

	.ui-select-placeholder {
		display: inline-block !important;
		color: $gray-600 !important;
	}

	.ui-select-placeholder.ng-hide {
		display: none !important;
	}

	.ui-select-match-text {
		color: $gray-700;

		span {
			margin-right: 15px;
		}
	}
}
