.recipe-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	grid-gap: 20px;
	justify-content: stretch;

	@media (max-width: 575px) {
		grid-gap: 10px;
		grid-template-columns: 1fr;
	}

	.card {
		text-align: center;
		max-width: 150px;

		@media (max-width: 575px) {
			max-width: unset;
		}

		.recipe-image {
			margin: 10px auto;
			display: block;
			width: 64px;
			height: 64px;

			@media (max-width: 767px) {
				width: 48px;
				height: 48px;
			}

			@media (max-width: 575px) {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-right: 10px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}

		.recipe-name {
			color: #eeeeee;
			padding: 0 10px;
			margin-bottom: 10px;

			@media (max-width: 575px) {
				margin-bottom: unset;
			}
		}
	}
}

.recipe-table {
	tr {
		td, th {
			vertical-align: middle;
			text-align: center;
		}

		td:first-of-type {
			text-align: left;
		}
	}

	.item-amount {
		font-size: 1.25em;
	}
}

.visualization {
	display: block;
	margin: 0;
	width: 100%;
	height: 800px;
	border: 1px solid #4e5d6c;
}

.filter-actions {
	a {
		margin: 10px 0;
	}
}

.filter {
	.input-group-append {
		position: relative;

		a.clear-filter {
			position: absolute;
			top: 0;
			left: -38px;
			z-index: 1000;
			color: #b1b1b1;
			padding: 7px 14px;
			&.has-content{
				cursor: pointer;
				color: #000;
			}
		}
	}
}
