@import 'recipe-list.scss';
@import 'production.scss';
@import "~bootstrap-scss/bootstrap";
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';
//@import "~ladda/dist/ladda-themeless.min.css";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';

// hey bootswatch, we don't need microtext, thx!
.navbar, .dropdown-menu, .dropdown-header, .table, label, .radio label, .checkbox label, .help-block {
	font-size: 1rem;
}

:focus, .btn-default-focus {
	outline: none;
}

.form-control {
	background-color: $gray-300;

	&:disabled {
		background-color: $gray-500;
		cursor: not-allowed;
	}
}

.toasts {
	z-index: 10000;
	position: fixed;
	top: 60px;
	right: 10px;

	.toast {
		z-index: 10000;
	}
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

* {
	font-size: 1rem;
}

a {
	cursor: pointer;

	&:hover {
		color: #e77a31;
	}
}

.bg-tertiary {
	background-color: #33475e;
}

.visualization {
	display: block;
	width: 100%;
	height: 800px;
	border: 1px solid #4e5d6c;
}

.filter-actions {
	a {
		margin: 10px 0;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-drag {
	cursor: move;
}

.ui-select-choices-row {
	margin-bottom: 0.3px;
}

ui-view[name="content"] {
	margin-top: 10px;
	display: block;
}

table {
	a {
		text-decoration: none !important;
	}
}

table.two-columns {
	td {
		width: 50%;
	}
}


.dropdown-menu {
	&.dropdown-menu-right {
		min-width: 250px;
	}
}

.disabled, [disabled="disabled"], [aria-disabled] {
	cursor: not-allowed !important;
}

.flex-fill-fx {
	flex: 1
}

.ngx-slider-floor, .ngx-slider-ceil, .ngx-slider-model-value {
	color: #fff !important;;
}

.p-dropdown.p-component {
	width: 100%;
	border-radius: 0;
	background: #dee2e6;
	border: 1px solid transparent;
	margin-top: 1px;

	&:focus, &:active, &.p-dropdown-open {
		background: #fff;
	}

	.p-inputtext {
		padding: 0.3rem 0.75rem;
	}
}
.nav.nav-tabs{
	.nav-link{
		color: #fff;
	}
}
