@import '~ui-bootstrap4/dist/ui-bootstrap-csp.css';
@import 'recipe-list.scss';
@import 'production.scss';

:focus, .btn-default-focus {
	outline: none;
}

.form-control {
	background-color: $gray-300;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

* {
	font-size: 1rem;
}

a:hover {
	color: #e77a31;
}

.bg-tertiary {
	background-color: #33475e;
}

.visualization {
	display: block;
	margin: 20px 0;
	width: 100%;
	height: 800px;
	border: 1px solid #4e5d6c;
}

.filter-actions {
	a {
		margin: 10px 0;
	}
}
